/* homepage */
.homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.student{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100px;
	background: #6EFFDC;
	text-align: center;
	box-shadow: 1px 1px;
}
.professor{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100px;
	background: #08E81F;
	text-align: center;
	box-shadow: 1px 1px;
}

.link {
  color: inherit; 
}

.ProfOrStudent {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly; 
  align-items: center;
}

.innerBox {
  background-color: #40C6FF;
  width: 500px;
  height: 200px;
  border: 2px solid blue;
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  margin: 20px;
}

.are{
  font-size: 30px;
  margin-bottom: 40px;
}
.title{
  display: flex;
  align-self: flex-start;
}

/*endRoomProf page*/
.endRoomProf{
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .btn {
	background: orange;
  }
  
  .lowerContainer {
	display:flex;
	justify-content: space-between;
  }
  
  .makeButton{
	width: 150px;
	background: lightgrey;
	text-align: center;
	box-shadow: 1px 1px;
  }
  .link{
	color: inherit; 
  }
  .header {
	background-color: lightgreen;
	width: 200px;
	padding: 50px;
	margin: 20px;
	
	line-height: 150px;
	color: black;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 56px;
	text-align: center;
  }

  