<section>
  <div class="header">Create Room(professor)</div>
  <form action="/prof/create-room" method="POST">
    <div class="inputRoom">
      <label for="roomID">Room ID:</label>
      <input name="roomID" id="roomID" type="text" required />
    </div>
    <button class="btn" type="submit" >Create</button>
  </form>
</section> 