<section>
  <div class="header">Create Room(professor)</div>
  <form action="/prof/create-room" method="POST">
    <div class="inputRoom">
      <label for="roomNumber">Room Number:</label>
      <input name="roomNumber" id="roomNumber" type="text" required />
    </div>
    <button class="btn" type="submit" >Create</button>
  </form>
</section> 