<head>
    <link rel="stylesheet" href="/public/app.css">
</head>

<section>
    <div class="box">
      <div class="header">Create Room(Professor)</div>
      <form action="/#">
        <div class="inputRoom">
          <label for="roomID">Room ID:</label>
          <div>
          <input name="roomID" id="roomID" type="text" class="textBox"required />
          </div>
        </div>
        <div>
        <button class="btn" type="submit" >Create</button>
        </div>
      </form>
       </div>
    </section> 