<head>
    <link rel="stylesheet" href="/public/app.css">
</head>

<section>
<div class="box">
  <div class="header">Create Room(professor)</div>
  <form action="/prof/create-room" method="POST">
    <div class="inputRoom">
      <label for="roomNumber">Room Number:</label>
      <div>
      <input name="roomNumber" id="roomNumber" type="text" class="textBox"required />
    </div>
    </div>
        <div>
    <button class="btn" type="submit" >Create</button>
     </div>
  </form>
  </div>
</section> 
