 <head>
     <link rel="stylesheet" href="/public/app.css">
 </head>
 
 <section class="endRoomStudent">
        <div class="header">Room ended.</div>
        <form action="#" method="POST">
          <div class="inputInfo">
            <p>Do you want to email this session’s questions and likes?</p>
            <label for="email">Email:</label>
            <input name="email" id="email" type="text"><br>
            <input type="checkbox" name="questions" value="Questions"> Questions
            <input type="checkbox" name="likes" value="Likes"> Likes<br><br>
          </div>
          <div class="lowerContainer">
          <button class="btn" type="submit">Send</button>
        </form>
          <div class="makeButton">
            <a style="text-decoration:none" href="/" class="link">Back to the     menu</a>
          </div>
      </div>
      </section> 