  <section>
        <div class="header">Room Ended</div>
        <form action="#">
          <div class="inputEmail">
            <p>Do you want to email this session's questions and likes?<p>
            <label for="Email">Email:</label>
            <input name="Email" id="Email" type="text" ><br>
            <input type="checkbox" name="questions" value="Questions"> Questions
        <input type="checkbox" name="likes" value="Likes"> Likes<br><br>
          </div>
          <button type="button" class="btn">Send </button>
        </form>
        <a href="/" class="backToMainMenu">Back to Main Menu</a>
      </section> 