<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include("../partials/head") %>
</head>
<body class="container">

<header>
    <% include('../partials/navbar') %>
</header>

<main>
    <div class="homepage">
        <header>
          <div class="title"><h1>Welcome to AskLive</h1></div>
        </header>  
        <section>
          <div class="innerBox">
            <div class= "are"> 
              <p>Are you a...</p> 
            </div>
          <div class="ProfOrStudent">
            <div class="professor"><a style="text-decoration:none" class="link" href="/prof/create-room">Professor</a></div>
          <p>or</p>
            <div class="student"><a style="text-decoration:none" class="link" href="/student/join-room">Student</a></div>
          </div>
          </div>
        </section>
      </div>
</main>

<footer>
    <% include("../partials/footer") %>
</footer>

</body>
</html>