<section>
    <div class="header">Join Room(students)</div>
    <form action="/student/join-room" method="POST">
      <div class="inputRoom">
        <label for="roomID">Room ID:</label>
        <input name="roomID" id="roomID" type="text" required />
      </div>
      <div class="inputRoom">
        <label for="nickname">Nickname:</label>
        <input name="nickname" id="nickname" type="text" required />
      </div>
      <button class="btn" type="submit">Join</button>
    </form>
  </section> 